* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  background-color: #f4f4f4;
  color: #414041;
}
a {
  text-decoration: none;
}
#user-container {
  margin: auto;
  max-width: 390px;
  padding: 10px;
  border-radius: 6px;
  -webkit-box-shadow: 9px 19px 36px -16px rgba(0,0,0,0.54);
  -moz-box-shadow: 9px 19px 36px -16px rgba(0,0,0,0.54);
  box-shadow: 9px 19px 36px -16px rgba(0,0,0,0.54);
}
#user-container form {
  display: flex;
  flex-direction: column;
}
#user-container form li {
  color: red;
  margin: 4px 0px;
  font-size: .8em;
}
#user-container form label {
  margin-bottom: 3px;
  margin-top: 5px;
}
#user-container form input {
  height: 40px;
  border-radius: 6px;
  border: 0;
  border: 1px solid rgba(0, 0, 0, .100);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, .100);
  padding-left: 5px;
  outline: 0;
}
#send-btn {
  margin: 30px auto;
  width: 50%;
  height: 40px;
  border-radius: 6px;
  border: 0;
  color: white;
  text-transform: uppercase;
  background-color: rgb(92, 26, 26);
}
#send-btn:hover {
  background-color: rgb(58, 15, 15);
}
#new-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
#new-user p {

}
.links-user {
  color: rgb(92, 26, 26);
}
.links-user {
  color: rgb(58, 15, 15);
}