@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

:root {
  --main-color: #eead2d;
  --yellow: #ffff00;
  --white: #fff;
  --black: #000;
  --bg-gray: #f1f5f8;
  --bg-black: #08090c;
  --font-family: 'Gabriela', serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--bg-gray);
}

main {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

#container {
  width: 850px;
  margin: 80px 0;
  padding: 15px;
  -webkit-box-shadow: 9px 19px 36px -16px rgba(0,0,0,0.54);
  -moz-box-shadow: 9px 19px 36px -16px rgba(0,0,0,0.54);
  box-shadow: 9px 19px 36px -16px rgba(0,0,0,0.54);
}

#container article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#calender {
  width: 65%;
  background-color: #3b3b33;
}

#hours {
  width: 30%;
  padding: 8px;
}

#hours #title {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.select-hours {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  cursor: pointer;
  margin-bottom: 10px;
}

.select-hours:hover {
  background-color: var(--main-color);
  border: var(--main-color);
  color: white;
  border-radius: 2px;
  transition: .3s;
}

#submit {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#submit .btn {
  position: relative;
  display: inline-block;
  padding: 12px 20px;
  color: black;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 1.5em;
  transition: 0.5s;
  letter-spacing: 4px;
  font-weight: bold;
  border: 0;
  background-color: transparent;
}

#submit .btn:hover {
  background: var(--main-color);
  color: var(--white);
  border-radius: var(--radius);
  box-shadow: 0 0 5px var(--main-color), 0 0 10px var(--main-color), 0 0 20px var(--main-color),
    0 0 30px var(--main-color);
}

#submit .btn span {
  position: absolute;
  display: block;
}

#submit .btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--main-color));
  animation: btn1 1s linear infinite;
}

@keyframes btn1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

#submit .btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--main-color));
  animation: btn2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

#submit .btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--main-color));
  animation: btn3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

#submit .btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--main-color));
  animation: btn4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}