@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

:root {
  --main-color: #eead2d;
  --white: #fff;
  --black: #000;
  --bg-gray: #f1f5f8;
  --bg-black: #08090c;
  --font-family: 'Gabriela', serif;
  --max-width: 100%;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 2.5px 7.5px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

/*
===============
Hero
===============
*/

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  height: calc(100vh - 4rem);
  background-image: url('/img/bg.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.section-hero div {
  text-align: center;
  color: white;
  padding: 0.3rem;
}
.section-hero div h1 {
  text-transform: uppercase;
  font-size: 2.85rem;
  text-shadow: 2px 3px black;
  color: #f7d917;
}
.section-hero div p {
  max-width: 15rem;
  margin: 0 auto;
  text-shadow: 0.5px 1px black;
  margin-bottom: 2em;
  font-weight: 500;
  color: white;
  font-size: 1.25em;
  letter-spacing: 0.1rem;
}
.section-hero div button {
  font-size: 1.2rem;
  text-shadow: 1px 1.5px black;
  background: rgba(0, 0, 0, 0.5);
  border: 1.5px solid #f7d917;
  border-radius: 2px;
  padding: 2em;
  cursor: pointer;
  transition: 0.3s;
}

.section-hero div button a {
  text-decoration: none;
  color: white;
}

.section-hero div button:hover {
  font-size: 1.4rem;
  transition: all 0.3s linear;
  border-radius: 5px;
  text-shadow: none;
  background-color: var(--main-color);
  -webkit-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 481px) {
  .section-hero {
    height: calc(74vh - 4em);
  }

  .section-hero div h1 {
    font-size: 3.5rem;
  }

  .section-hero div p {
    max-width: 20rem;
    color: white;
    font-size: 1.4em;
  }

  .section-hero div button {
    padding: 0.75rem 1.75rem;
  }
}

@media screen and (min-width: 992px) {
  .section-hero {
    height: calc(100vh - 4em);
  }

  .section-hero div h1 {
    font-size: 4.5rem;
  }

  .section-hero div p {
    max-width: 35rem;
    color: white;
    font-size: 1.4em;
  }

  .section-hero div button {
    padding: 0.75rem 1.75rem;
  }
}
/*
===============
Carousel
===============
*/
#slide-container {
  position: relative;
  overflow: hidden;
  background-color: var(--bg-gray);
}
.slide {
  padding: 2vh 0 2vh 5vw;
  display: flex;
  width: 70vw;
  margin: auto;
  justify-content: space-between;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.slide::-webkit-scrollbar {
  display: none;
}
.card {
  margin-right: 90px;
}
.card img {
  width: 250px;
}

.pre-btn,
.nxt-btn {
  display: flex;
  border: 0;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 80px;
  position: absolute;
  top: 35%;
  cursor: pointer;
  z-index: 9;
  border-radius: 6px;
  background-color: initial;
}

.pre-btn {
  left: 0;
  margin-left: 14.9vw;
}

.nxt-btn {
  right: 0;
  margin-right: 14.9vw;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 2.2em;
}

.pre-btn,
.nxt-btn {
  opacity: 0.3;
}

.pre-btn:hover,
.nxt-btn:hover {
  opacity: 0.8;
  background-color: var(--main-color);
  color: white;
}

/*
===============
Contact
===============
*/
.section-contact {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background: #f1f5f8;
}

.section-contact-center {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section-contact-center article {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-contact-center article div {
  margin-bottom: 1.75em;
}
.section-contact-center article div h4 {
  text-transform: uppercase;
  font-size: 1em;
}
.section-contact-center article div h5 {
  color: brown;
  font-size: 1em;
  font-weight: 400;
}
.section-contact-center article div h5 span {
  padding-right: 0.5em;
}

.map {
  border-radius: var(--radius);
  height: 330px;
  width: 100%;
  max-width: 400px;
  min-width: 330;
  background-image: url('/img/map.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

@media screen and (min-width: 992px) {
  .map {
    margin-left: 6rem;
    height: 400px;
    width: 400px;
  }
}
