/* .navbar {
  max-width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px #08090c;
  background: #f1f5f8;
}

.nav-center {
  width: 90vw;
  padding: 1.2rem 0 0.5rem 0;
  margin: 0 auto;
  max-width: var(--max-width);
}

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-toggle {
    background: transparent;
    border: transparent;
    color: var(--clr-primary-5);
    cursor: pointer;
    svg {
      font-size: 2rem;
      animation-name: ${bounce};
      animation-duration: 3s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
    }
  }
  .nav-links {
    display: none;
  }
  .cart-btn-wrapper {
    display: none;
  }
  @media (min-width: 992px) {
    .nav-toggle {
      display: none;
    }
    .nav-center {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
    }
    .nav-links {
      display: flex;
      justify-content: center;
      padding: 1rem;
      list-style: none;

      a {
        color: ${props => props.theme.black};
        text-decoration: none;
        letter-spacing: 0.1rem;
        padding: 0.5rem;
        font-size: larger;
        &:hover {
          font-size: 1.2em;
          text-transform: uppercase;
          border-bottom: 2px solid ${props => props.theme.mainColor};
        }
      }
    }
    .cart-btn-wrapper {
      display: grid;
    }
  }
`

export const ControllButtonsWrapper = styled.div`
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 175px;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color: ${props => props.theme.black};

    svg {
      color: #eead2d;
      margin: 7px 15px 0 5px;
    }
  }

  .cart-btn {
    color: ${props => props.theme.black};
    font-size: 2rem;
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
  }

  .cart-container {
    display: flex;
    align-items: center;
    position: relative;
    .cart-value {
      position: absolute;
      top: -5px;
      right: 6px;
      background: #252525;
      width: 15px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 0.83rem;
      color: white;
      padding: 10px;
    }
    svg {
      height: 1.5rem;
      margin-left: 5px;
    }
  }
  .login-btn {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    background: transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    color: ${props => props.theme.black};
    letter-spacing: 0.1rem;
    svg {
      color: #eead2d;
      font-size: 1.5rem;
      margin-left: 5px;
    }
  }
`

export const MenuHamburguerContainer = styled.div`
  text-align: center;

  .nav-links {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 1rem;
      list-style: none;

      a {
        color: ${props => props.theme.black};
        text-decoration: none;
        letter-spacing: 0.1rem;
        padding: 0.25rem;
        font-size: larger;
        margin-bottom: 1.5em;
        &:hover {
          text-transform: uppercase;
          font-size: 1.2em;
          border-bottom: 2px solid ${props => props.theme.mainColor};
        }
      }
    }

  .menuHamburguer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
  .close-btn {
    font-size: 2rem;
    padding-bottom: 5px;
    background: transparent;
    border-color: transparent;
    color: red;
    transition: all 0.3s linear;
    cursor: pointer;
    margin-top: 0.2rem;
  }
  .close-btn:hover {
    font-size: 3em
  }
  .logo {
    justify-self: center;
    height: 45px;
  }
  .links {
    margin-bottom: 2rem;
  }
  .links a {
    display: block;
    text-align: left;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: gray;
    transition: all 0.3s linear;
    letter-spacing: 0.1rem;
  }

  .links a:hover {
    padding: 1rem 1.5rem;
    padding-left: 2rem;
    background: green;
    color: pink;
  }

  .menuHamburguer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transition: all 0.3s linear;
    transform: translate(-100%);
    z-index: -1;
  }
  .show-menuHamburguer {
    transform: translate(0);
    z-index: 999;
  }
  .cart-btn-wrapper {
    margin: 2rem auto;
  }
  @media screen and (min-width: 992px) {
    .menuHamburguer {
      display: none;
    }
    .nav-header {
      background: linear-gradient(to top, rgba(18, 18, 18, 0.7), rgba(0, 0, 0, 0.2)),
    url('/images/logo-small-screen.svg');
    }
  } */
