@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

:root {
  --main-color: #eead2d;
  --yellow: #ffff00;
  --white: #fff;
  --black: #000;
  --bg-gray: #f1f5f8;
  --bg-black: #08090c;
  --font-family: 'Gabriela', serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  background-image: url('/img/bg-small-screen.jpeg');
}
#container-form {
  margin: 80px 0;
  width: 400px;
  padding: 15px;
  background: rgba(241, 245, 248, 0.4);
  border-radius: 3px;
}

.error {
  color: rgb(182, 25, 25);
  list-style: none;
  padding: 5px 0px;
}
#title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title h2 {
  color: var(--main-color);
  font-size: 1.3em;
}
#title p {
  font-size: .8em;
}
#container-form form {
  margin-top: 10px;
}

.container-fields {
  display: flex;
  flex-direction: column;
}

.container-fields input {
  width: 100%;
  height: 35px;
  border: 0;
  outline: 0;
  font-size: .7em;
  padding-left: 5px;
  background-color: transparent;
  border-bottom: 2px solid black;
}

.container-fields input:focus {
  outline: 0;
  border-radius: 5px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, .100);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, .100);
  transition: .2s;
}

.container-fields label {
  padding: 10px 0;
  font-size: 1rem;
  color: var(--white);
  pointer-events: none;
  transition: 0.5s;
}

#container-btn {
  display: flex;
  justify-content: center;
}

#container-btn .btn {
  position: relative;
  display: inline-block;
  padding: 12px 20px;
  color: black;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 1.5em;
  transition: 0.5s;
  letter-spacing: 4px;
  font-weight: bold;
  background: transparent;
  outline: none;
  border: none;
}

#container-btn .btn:hover {
  background: var(--main-color);
  color: var(--white);
  border-radius: var(--radius);
  box-shadow: 0 0 5px var(--main-color), 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

#container-btn .btn span {
  position: absolute;
  display: block;
}

#container-btn .btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--main-color));
  animation: btn1 1s linear infinite;
}

@keyframes btn1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

#container-btn .btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--main-color));
  animation: btn2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

#container-btn .btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--main-color));
  animation: btn3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

#container-btn .btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--main-color));
  animation: btn4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
