<%- include('./partials/head', {pageTitle: 'Barbearia MV', cssName:'home'}) %>
<%- include('./partials/navbar') %>
<main>
  <section class="section-hero">
    <div>
      <h1>Barbearia</h1>
      <p>Happy Hour, Style and Relaxing.</p>
      <% if (locals.hasUserLogged) { %>
      <button><a href="/api/appointments">Agendar</a></button>
      <% } else { %>
      <button><a href="/api/auth/login">Agendar</a></button>
      <% } %>
    </div>
  </section>
  <%- include('./partials/cards') %>
  <hr class="divider-two" />
  <!-- começo carrousel -->
  <section id="slide-container">
    <button class="pre-btn">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <button class="nxt-btn">
      <i class="fa-solid fa-angle-right"></i>
    </button>
    <div class="slide">
      <div class="card">
        <img src="/img/slideImages/barberShop.jpg" alt="" />
      </div
      <div class="card">
        <img src="/img/slideImages/barberShop.jpg" alt="" />
      </div
      <div class="card">
        <img src="/img/slideImages/barberShop.jpg" alt="" />
      </div
      <div class="card">
        <img src="/img/slideImages/barberShop.jpg" alt="" />
      </div
      <div class="card">
        <img src="/img/slideImages/barberShop.jpg" alt="" />
      </div
      <div class="card">
        <img src="/img/slideImages/barberShop.jpg" alt="" />
      </div
      <div class="card">
        <img src="/img/slideImages/barberShop.jpg" alt="" />
      </div>
    </div>
  </section>
  <!-- fim carrousel -->
  <section class="section-contact">
    <div class="section-contact-center">
      <article>
        <div>
          <h5>
            <span>
              <i class="fa-regular fa-paper-plane"></i>
            </span>
            Endereço
          </h5>
          <h4>
            R. Amazonas, n° 4839 <br />
            - Terreo 8, Osasco
          </h4>
        </div>
        <div>
          <h5>
            <span>
              <i class="fa-regular fa-envelope"></i>
            </span>
            E-mail
          </h5>
          <h4>mendesvilefort@email.com.br</h4>
        </div>
        <div>
          <h5>
            <span>
              <i class="fa-solid fa-phone"></i>
            </span>
            Telefone
          </h5>
          <h4>+55 (011) 94858-4656</h4>
        </div>
      </article>
      <div class="map"></div>
    </div>
  </section>
  <script src="/js/slideImagesHome.js"></script>
</main>
<%- include('./partials/footer') %
