<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/nav-footer-style.css" />
    <link rel="stylesheet" href="/css/home-style.css" />
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/c94ff92473.js"
      crossorigin="anonymous"
    ></script>
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
  </head>

  <body>
    <%- include('./partials/navbar') %>
    <main class="section-hero">
      <img src="/img/bg.svg" class="hero-image" alt="hero image">
    </main>
    <%- include('./partials/cards') %>
    <%- include('./partials/footer') %>
  </body>
</html>
