<%- include('./partials/head', {pageTitle: 'Register', cssName:'register'}) %>
<%- include('./partials/navbar') %>
<main>
  <div id="container-form">
    <div id="title">
      <h2>Formulário de Cadastro</h2>
    </div>
    <form action="/api/auth/register" method="POST">
      <div class="container-fields">
        <label for="name">Nome:</label>
        <input type="text" name="name" required>
        <li class="error"></li>
      </div>
      <div class="container-fields">
        <label for="email">E-mail:</label>
        <input type="text"  name="email" required>
        <li class="error"></li>
      </div>
      <div class="container-fields">
        <label for="phone">nº Celular:</label>
        <input type="text" name="phone" required>
        <li class="error"></li>
      </div>
      <div class="container-fields">
        <label for="password">Senha:</label>
        <input type="password" name="password" required>
        <li class="error"></li>
      </div>
      <div class="container-fields">
        <label for="passwordConfirmation">Confirmação Senha:</label>
        <input type="password" name="passwordConfirmation" required>
        <li class="error"></li>
      </div>
      <div id="container-btn">
        <button type="submit" class="btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Cadastrar
        </button>
      </div>
    </form>
  </div>
</main>
<%- include('./partials/footer') %>
