<%- include('./partials/head', {pageTitle: 'Services', cssName:'service'}) %>
<%- include('./partials/navbar') %>
<main class="services">
  <div class="services-title">
    <h2>Nossos <span>Serviços</span></h2>
  </div>
  <div class="section-center">
    <article class="service-card">
      <div class="service-img-container">
        <img
          src="/img/cabelo.jpg"
          class="service-img"
          alt="single service"
        />
        <span class="service-icon">
          <i class="fas fa-mortar-pestle fa-fw"></i>
        </span>
      </div>
      <div class="service-info">
        <h4>Corte</h4>
        <p>
          Corte desenhado ou rústico.
        </p>
        <a href="#" class="btn service-btn">Agende!</a>
      </div>
    </article>
    <article class="service-card">
      <div class="service-img-container">
        <img
          src="/img/all.jpg"
          class="service-img"
          alt="service"
        />
        <span class="service-icon">
          <i class="fa-solid fa-heart"></i>
        </span>
      </div>
      <div class="service-info">
        <h4>Corte + Barba</h4>
        <p>
          Serviço personalidado completo!
        </p>
        <a href="#" class="service-btn">Agende!</a>
      </div>
    </article>
    <article class="service-card">
      <div class="service-img-container">
        <img
          src="/img/barba.jpg"
          class="service-img"
          alt="service"
        />
        <span class="service-icon">
          <i class="fa-solid fa-whiskey-glass"></i>
        </span>
      </div>
      <div class="service-info">
        <h4>Barba</h4>
        <p>
          Barba ao modo antigo.
        </p>
        <a href="#" class="service-btn">Agende!</a>
      </div>
    </article>
  </div>
</main>
<%- include('./partials/footer') %>
