<hr class="divider">
<section class="cards-section">
  <article>
    <span>
      <i class="fa-solid fa-ranking-star"></i>
    </span>
    <h4>Atendimento personalizado</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
  </article>

  <article>
    <span>
      <i class="fa-regular fa-snowflake"></i>
    </span>
    <h4>Ar Condicionado</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
  </article>

  <article>
    <span>
      <i class="fa-solid fa-beer-mug-empty"></i>
    </span>
    <h4>Cerveja Gelada</h4>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur?
    </p>
  </article>

  <article>
    <span>
      <i class="fa-solid fa-cart-shopping"></i>
    </span>
    <h4>Produtos de Qualidade</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
      praesentium.
    </p>
  </article>
</section>
