<nav>
  <div class="nav-center">
    <div class="nav-header">
      <a href="/">
        <img src="/img/logo-original.svg" alt="logo" />
      </a>
      <button class="nav-toggle">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
    <ul class="nav-links">
      <% navLinks.forEach(link => { %>
      <li><a href="<%= link.url %>"><%= link.text %></a></li>
      <% }) %>
    </ul>
    <div class="nav-login">
      <% if (userLogged) { %>
        <a href="/api/auth/logout"
        >sair <i class="fa-solid fa-arrow-right-from-bracket"></i
        ></a>
      <%} else { %>
        <a href="/api/auth/login">entrar <i class="fa-solid fa-user-plus"></i></a>
      <% } %> 
    </div>
  </div>
</nav>
